.main--favs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
  min-height: 70vh;
}

.title{
  margin-top: 60px;
}

.list-favs {
  background-color: $white-gray;
  border-radius: 10px;
  margin-bottom: 250px;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 1200px;
  padding: 10px 25px;
  &__delete{
    border: none;
    outline: none;
    background-color: transparent;
    color: $black;
    font-family: $font-primary;
    font-size: $paragraph;
    &:hover{
        cursor: pointer;
    }
  }
  &__box-image {
    height: 100%;
    width: 200px;
    .box-image__image {
      border-radius: 10px;
      width: 100%;
    }
  }
  &__name {
    font-family: $font-primary;
    font-size: $card-title;
    font-weight: 700;
    line-height: 1.4;
    color: $black-gray;
    width: 200px;
    overflow: hidden;
  }
  &__price {
    font-family: $font-primary;
    font-size: $paragraph;
    font-weight: 400;
    color: $red;
    line-height: 3;
    letter-spacing: 1px;
  }
  &__buttons {
    @extend .buttons;
    @include sizes(200px, 40px, 10px);
    background-color: $white-gray;
    color: $black-gray;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}
