.navbar-transparent {
  background-color: rgba(192, 190, 190, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.5s 0s ease-in-out;
  position: sticky;
  top: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  margin: 0 -50px;
  padding: 5px 150px;
  border-bottom: 2px solid $white-gray;
}
@include desktop {
  .navbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    .navbar-left {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-grow: 1;
      .navbar-left__logo {
        background-image: linear-gradient(160deg, #0093e9 0%, #0767e6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-primary;
        font-size: $header;
        font-weight: 700;
        letter-spacing: 1px;
        &:hover {
          filter: drop-shadow(0 0 0.5em $blue);
        }
      }
      .nav-list {
        display: flex;
        flex-flow: row nowrap;
        gap: 25px;
        .nav-item {
          list-style: none;
          .nav-link {
            padding: 0.5px 5px;
            font-family: $font-primary;
            font-size: $paragraph;
            font-weight: 400;
            color: $black-gray;
            text-decoration: none;
            transition: all 0.2s 0s ease-in-out;
            &:hover {
              color: $blue;
            }
          }
        }
        .nav-item-anotherlist {
          transition: all 0.2s 0s ease-in-out;
          &:hover {
            background-color: $white-gray;
            border-radius: 5px;
          }
          &:hover {
            .nav-list--inside {
              display: block;
            }
            .fa-chevron-down {
              transition: all 0.2s 0s ease-in-out;
              transform: rotate(-180deg);
            }
          }
          .nav-link > span {
            padding-right: 5px;
          }
          .nav-link > i {
            font-size: 0.65rem;
          }
          .nav-list--inside {
            position: fixed;
            display: none;
            margin-top: 5px;
            margin-left: -5px;
            background-color: $white-gray;
            backdrop-filter: blur(45px);
            border-radius: 10px;
            padding: 5px;
            transition: all 1s 0s ease-in;
            .nav-item--inside {
              text-align: center;
              padding: 4px;
            }
            .nav-link--inside {
              &:hover {
                color: $blue;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
    .navbar-center {
      position: absolute;
      .navbar-center__bar-search {
        width: 300px;
        height: 40px;
        border: none;
        padding: 0 10px;
        border-radius: 10px;
        outline: none;
        color: $black-gray;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        &::placeholder {
          color: $black-gray-placeholder;
        }
      }
      .navbar-center__btn-search {
        position: absolute;
        right: 0px;
        width: 40px;
        height: 40px;
        border-radius: 0 10px 10px 0;
        border: none;
        background-color: $black-gray;
        cursor: pointer;
      }
      .fa-magnifying-glass {
        color: $white;
      }
    }

    .navbar-right {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      flex-grow: 1;
      &__btn {
        @include sizes(140px, 40px, 10px);
        font-family: $font-primary;
        font-size: $paragraph;
        font-weight: 400;
        line-height: 1.25;
        outline: none;
        border: 2px solid black;
        background-color: $black-gray;
        color: $white;
        text-align: center;
        cursor: pointer;
        transition: all 0.4s 0s ease-in-out;
        &:hover {
          background-color: $white;
          color: $black-gray;
        }
      }
      &__icon {
        font-size: 20px;
        color: $black-gray;
        text-decoration: none;
        &:hover {
          -webkit-animation: pulsate-bck 0.5s ease-in-out 1 both;
          animation: pulsate-bck 0.5s ease-in-out 1 both;
          cursor: pointer;
        }
      }
      &__cart {
        display: flex;
        flex-flow: row nowrap;
        gap: 5px;
        align-items: center;
        .navbar-right__noti {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          background-color: $black-gray;
          border-radius: 25px;
          .noti__text {
            color: $white;
            text-align: center;
            font-family: $font-primary;
            font-size: $paragraph;
            font-weight: 700;
          }
        }
      }
    }
  }
}
