// colors
$black: #080708;
$black-gray : #272727;
$black-gray-placeholder : #2727277e;
$black-hover: #696969;
$blue: #3772FF;
$red: #DF2935;
$yellow: #FDCA40;
$white: #f0f1f0;
$white-gray: #d8dbd871;
//fonts
$font-primary: 'Aleo', serif;
//sizes letters
$header: 2rem;
$title: 1.75rem;
$subtitle: 1.5rem;
$card-title: 1.25rem;
$paragraph: 1rem;