@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --abbey-50: #f6f6f6;
  --abbey-100: #e7e7e7;
  --abbey-200: #d1d1d1;
  --abbey-300: #b0b0b0;
  --abbey-400: #888888;
  --abbey-500: #6d6d6d;
  --abbey-600: #5d5d5d;
  --abbey-700: #4a4a4a;
  --abbey-800: #454545;
  --abbey-900: #3d3d3d;
  --abbey-950: #262626;
  --blue-50: #e8f2ff;
  --blue-100: #d5e7ff;
  --blue-200: #b3d1ff;
  --blue-300: #85b0ff;
  --blue-400: #5681ff;
  --blue-500: #2f53ff;
  --blue-600: #0c1fff;
  --blue-700: #0011fa;
  --blue-800: #0617cd;
  --blue-900: #101f9f;
  --blue-950: #0a115c;
  --antique-bronze-50: #f9ffe5;
  --antique-bronze-100: #efffba;
  --antique-bronze-200: #e2ff79;
  --antique-bronze-300: #dcff2d;
  --antique-bronze-400: #e4ff00;
  --antique-bronze-500: #fffe00;
  --antique-bronze-600: #e7c900;
  --antique-bronze-700: #b79000;
  --antique-bronze-800: #967000;
  --antique-bronze-900: #765404;
  --antique-bronze-950: #4b3000;

  /* fonts */
  --roboto-font: "Roboto", sans-serif;
  --caladea-font: "Caladea", serif;
  --bebas-font: "Bebas Neue", sans-serif;

  /* font sizes */
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;
  --font-size-4xl: 4rem;
  --font-size-5xl: 5rem;
  --font-size-6xl: 6rem;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.filter {
  background-image: url("../assets/Filter.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  padding: 0.75rem 1rem;
  & .header__logo {
    width: calc((100% / 3) - 2rem);
    text-align: left;
    font-family: var(--caladea-font);
    font-size: var(--font-size-xxxl);
    color: var(--abbey-950);
  }
  & .header__icon-user {
    width: calc((100% / 3) - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & svg {
      background-color: var(--abbey-100);
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      color: var(--abbey-400);
    }
  }
  & .header__icon-bar {
    width: calc((100% / 3) - 2rem);
    display: flex;
    justify-content: end;
    & svg {
      width: 2.5rem;
      height: 2.5rem;
      color: var(--abbey-400);
    }
  }
}

.section-welcome {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  & .section-welcome__title {
    text-align: center;
    font-family: var(--caladea-font);
    font-size: calc(var(--font-size-xxl) + 0.5rem);
    font-weight: 700;
    text-wrap: pretty;
    line-height: 1.2;
    color: var(--abbey-950);
    & .highlight {
      font-family: var(--roboto-font);
      font-size: calc(var(--font-size-xxxl) + 0.5rem);
      font-weight: 900;
    }
  }
}

.scroll-down {
  position: fixed;
  bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;

  & svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--abbey-200);
  }
}

.modal-new--off {
  position: absolute;
  bottom: 100px;
  left: calc(50% - 225px);
  width: 450px;
  height: 250px;
  padding: 0.75rem;
  background-color: var(--abbey-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  & .modal-new__ctn-img {
    width: 200px;
    height: 100%;
    background-color: #ffff;
    & img {
      border-radius: 4px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  & .modal-new__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 0.5rem;
    width: 250px;
    height: 100%;
    & .info__title {
      font-family: var(--caladea-font);
      font-size: var(--font-size-xl);
      color: var(--blue-500);
    }
    & .info__paragraph {
      font-family: var(--roboto-font-font);
      font-size: var(--font-size-sm);
      color: var(--abbey-950);
      height: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
    }
    & .info__show-more {
      font-family: var(--caladea-font);
      font-size: var(--font-size-xs);
      color: var(--antique-bronze-800);
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: var(--antique-bronze-900);
      }
    }
    & .info__buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      & .btn-primary {
        font-family: var(--caladea-font);
        font-size: var(--font-size-sm);
        color: var(--abbey-50);
        background-color: var(--blue-500);
        padding: 0.25rem 0.5rem;
        cursor: pointer;
      }
      & .btn-secondary {
        font-family: var(--caladea-font);
        font-size: var(--font-size-sm);
        color: var(--abbey-950);
        background-color: var(--abbey-300);
        padding: 0.25rem 0.5rem;
        cursor: pointer;
      }
    }
  }
}

.section-new-collection{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 0.5rem;
  & .section-new-collection__aside{
    position: absolute;
    left: 0;
    top: 100px;
    & .letter{
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: var(--bebas-font);
      font-size: var(--font-size-xxl);
      font-weight: 700;
    }
  }
  & .ctn-images-collection{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & .ctn-img{
      width: 350px;
      height: 350px;
      aspect-ratio: 4/3 ;
      overflow: hidden;
      & .images-collection{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  & .section-new-collection__info{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    & .info__title{
      font-family: var(--bebas-font);
      font-size: var(--font-size-4xl);
      font-weight: 700;

      color: var(--abbey-950);
      white-space: pre-line;
    }
    & .info__text{
      font-family: var(--bebas-font);
      font-size: var(--font-size-md);
      color: var(--abbey-800);
      white-space: wrap;

    }
  
  }
}


@media screen and (max-width: 767px) {
  .loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--abbey-950);
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .loader-imgs {
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    & .logo {
      font-family: var(--caladea-font);
      font-size: var(--font-size-6xl);
      color: var(--abbey-200);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .loader__img-ctn {
      position: relative;
      flex: 1;
      height: 300px;
      width: 300px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--abbey-950);
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .loader-imgs {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    & .logo {
      font-family: var(--caladea-font);
      font-size: var(--font-size-6xl);
      color: var(--abbey-200);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .loader__img-ctn {
      position: relative;
      flex: 1;
      height: auto;
      width: auto;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
