@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
* {
  border: 0%;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.categoryCard, .squares-category #buzos .square__img, .squares-category #remeras .square__img, .squares-category #pantalones .square__img, .squares-category #zapatillas .square__img {
  position: absolute;
  filter: contrast(70%);
  filter: brightness(70%);
  transition: all .4s 0s ease-in; }
  .categoryCard:hover, .squares-category #buzos .square__img:hover, .squares-category #remeras .square__img:hover, .squares-category #pantalones .square__img:hover, .squares-category #zapatillas .square__img:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(50%); }

.title, .header--shopcart .header__title--shopcart {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2; }

.subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5; }

.paragraph, .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__title--shopcart, .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__price--shopcart, .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__unites--shopcart, .buttons-cart__right .total-price__text {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25; }

.buttons, .buttons-cart__delete, .buttons-cart__right .total-price__buyNow, .item__buttons, .card__box-text .box-text__buttons .buttons__btn, .card__box-text .box-text__buttons .buttons__btn-fav {
  outline: none;
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 400;
  transition: all .5s 0s ease; }
  .buttons:hover, .buttons-cart__delete:hover, .buttons-cart__right .total-price__buyNow:hover, .item__buttons:hover, .card__box-text .box-text__buttons .buttons__btn:hover, .card__box-text .box-text__buttons .buttons__btn-fav:hover {
    cursor: pointer; }

.navbar-transparent {
  background-color: rgba(192, 190, 190, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.5s 0s ease-in-out;
  position: sticky;
  top: 0; }

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  margin: 0 -50px;
  padding: 5px 150px;
  border-bottom: 2px solid #e4e4e471; }

@media screen and (orientation: landscape) and (max-width: 1920px) {
  .navbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .navbar .navbar-left {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-grow: 1; }
      .navbar .navbar-left .navbar-left__logo {
        background-image: linear-gradient(160deg, #0093e9 0%, #0767e6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Roboto Slab", serif;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px; }
        .navbar .navbar-left .navbar-left__logo:hover {
          filter: drop-shadow(0 0 0.5em #3772FF); }
      .navbar .navbar-left .nav-list {
        display: flex;
        flex-flow: row nowrap;
        gap: 25px; }
        .navbar .navbar-left .nav-list .nav-item {
          list-style: none; }
          .navbar .navbar-left .nav-list .nav-item .nav-link {
            padding: 0.5px 5px;
            font-family: "Roboto Slab", serif;
            font-size: 1rem;
            font-weight: 400;
            color: #272727;
            text-decoration: none;
            transition: all 0.2s 0s ease-in-out; }
            .navbar .navbar-left .nav-list .nav-item .nav-link:hover {
              color: #3772FF; }
        .navbar .navbar-left .nav-list .nav-item-anotherlist {
          transition: all 0.2s 0s ease-in-out; }
          .navbar .navbar-left .nav-list .nav-item-anotherlist:hover {
            background-color: #e4e4e471;
            border-radius: 5px; }
          .navbar .navbar-left .nav-list .nav-item-anotherlist:hover .nav-list--inside {
            display: block; }
          .navbar .navbar-left .nav-list .nav-item-anotherlist:hover .fa-chevron-down {
            transition: all 0.2s 0s ease-in-out;
            transform: rotate(-180deg); }
          .navbar .navbar-left .nav-list .nav-item-anotherlist .nav-link > span {
            padding-right: 5px; }
          .navbar .navbar-left .nav-list .nav-item-anotherlist .nav-link > i {
            font-size: 0.65rem; }
          .navbar .navbar-left .nav-list .nav-item-anotherlist .nav-list--inside {
            position: fixed;
            display: none;
            margin-top: 5px;
            margin-left: -5px;
            background-color: #e4e4e471;
            backdrop-filter: blur(45px);
            border-radius: 10px;
            padding: 5px;
            transition: all 1s 0s ease-in; }
            .navbar .navbar-left .nav-list .nav-item-anotherlist .nav-list--inside .nav-item--inside {
              text-align: center;
              padding: 4px; }
            .navbar .navbar-left .nav-list .nav-item-anotherlist .nav-list--inside .nav-link--inside:hover {
              color: #3772FF;
              background-color: transparent; }
    .navbar .navbar-center {
      position: absolute; }
      .navbar .navbar-center .navbar-center__bar-search {
        width: 300px;
        height: 40px;
        border: none;
        padding: 0 10px;
        border-radius: 10px;
        outline: none;
        color: #272727;
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        font-size: 0.85rem;
        letter-spacing: 0.5px; }
        .navbar .navbar-center .navbar-center__bar-search::placeholder {
          color: #2727277e; }
      .navbar .navbar-center .navbar-center__btn-search {
        position: absolute;
        right: 0px;
        width: 40px;
        height: 40px;
        border-radius: 0 10px 10px 0;
        border: none;
        background-color: #272727;
        cursor: pointer; }
      .navbar .navbar-center .fa-magnifying-glass {
        color: #f0f1f0; }
    .navbar .navbar-right {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      flex-grow: 1; }
      .navbar .navbar-right__btn {
        width: 140px;
        height: 40px;
        border-radius: 10px;
        font-family: "Roboto Slab", serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25;
        outline: none;
        border: 2px solid black;
        background-color: #272727;
        color: #f0f1f0;
        text-align: center;
        cursor: pointer;
        transition: all 0.4s 0s ease-in-out; }
        .navbar .navbar-right__btn:hover {
          background-color: #f0f1f0;
          color: #272727; }
      .navbar .navbar-right__icon {
        font-size: 20px;
        color: #272727;
        text-decoration: none; }
        .navbar .navbar-right__icon:hover {
          -webkit-animation: pulsate-bck 0.5s ease-in-out 1 both;
          animation: pulsate-bck 0.5s ease-in-out 1 both;
          cursor: pointer; }
      .navbar .navbar-right__cart {
        display: flex;
        flex-flow: row nowrap;
        gap: 5px;
        align-items: center; }
        .navbar .navbar-right__cart .navbar-right__noti {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          background-color: #272727;
          border-radius: 25px; }
          .navbar .navbar-right__cart .navbar-right__noti .noti__text {
            color: #f0f1f0;
            text-align: center;
            font-family: "Roboto Slab", serif;
            font-size: 1rem;
            font-weight: 700; } }

.box-cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 500px;
  background-color: #f0f1f0;
  height: 100%;
  transform: translateX(110%);
  transition: transform 1.5s 0s ease-in-out;
  padding: 25px; }

.active {
  transform: translateX(0); }

.btn-xmark {
  position: absolute;
  z-index: 9999;
  right: 520px;
  top: 10px;
  background-color: #272727;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s 0s ease-in-out; }
  .btn-xmark .fa-xmark {
    color: #f0f1f0;
    font-size: 1rem;
    transition: all 0.5s 0s ease-in-out; }
  .btn-xmark:hover {
    background-color: #e4e4e471;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; }
    .btn-xmark:hover .fa-xmark {
      color: #272727;
      transform: rotate(180deg); }

.header--shopcart {
  height: 10vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .header--shopcart .fa-bag-shopping {
    font-size: 1.75rem; }

.render-cart-product {
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
  gap: 10px; }
  .render-cart-product .card--shopcart {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background-color: #e4e4e471;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px; }
    .render-cart-product .card--shopcart .card__box-img--shopcart {
      width: 100px;
      height: 100px; }
      .render-cart-product .card--shopcart .card__box-img--shopcart .box-img__image--shopcart {
        width: 100%;
        height: 100%;
        border-radius: 10px; }
    .render-cart-product .card--shopcart .card__box-text--shopcart {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 8px; }
      .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__title--shopcart {
        font-weight: 700;
        overflow: hidden;
        width: 150px; }
      .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__price--shopcart {
        color: #DF2935;
        letter-spacing: 1; }
      .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__unites--shopcart {
        display: flex;
        flex-flow: row nowrap;
        color: #272727;
        max-width: 25px; }
      .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__btn--shopcart {
        border: none;
        outline: none;
        color: #DF2935;
        font-size: 1rem; }
        .render-cart-product .card--shopcart .card__box-text--shopcart .box-text__btn--shopcart:hover {
          cursor: pointer;
          -webkit-animation: pulsate-bck 0.5s ease-in-out 1 both;
          animation: pulsate-bck 0.5s ease-in-out 1 both; }

.buttons-cart {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  .buttons-cart__delete {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: #e4e4e471;
    color: #272727; }
    .buttons-cart__delete:hover {
      background-color: #DF2935;
      color: #f0f1f0;
      box-shadow: none; }
  .buttons-cart__right {
    display: flex;
    flex-flow: row nowrap; }
    .buttons-cart__right .total-price {
      background-color: #e4e4e471;
      max-width: 300px;
      height: 40px;
      border-radius: 10px 0 0 10px;
      display: flex;
      align-items: center;
      padding: 0 10px; }
      .buttons-cart__right .total-price__text {
        letter-spacing: 1; }
    .buttons-cart__right .total-price__buyNow {
      width: 100px;
      height: 40px;
      border-radius: 0;
      border-radius: 0 10px 10px 0;
      color: #272727; }
      .buttons-cart__right .total-price__buyNow:hover {
        color: #f0f1f0;
        background-color: #3772FF;
        box-shadow: none; }

.footer {
  background-color: #272727;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px 10px 0 0; }
  .footer__up {
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around; }
    .footer__up .socialmedia {
      text-align: center;
      line-height: 2.5; }
      .footer__up .socialmedia__title {
        font-family: "Roboto Slab", serif;
        font-size: 1.25rem;
        font-weight: 400;
        color: #f0f1f0; }
      .footer__up .socialmedia .fa-brands {
        color: #f0f1f0;
        font-size: 1.5rem;
        text-decoration: none;
        margin: 0 10px; }
    .footer__up .advertisement {
      text-align: center;
      line-height: 2.5; }
      .footer__up .advertisement .title, .footer__up .advertisement .header--shopcart .header__title--shopcart, .header--shopcart .footer__up .advertisement .header__title--shopcart {
        font-family: "Roboto Slab", serif;
        font-size: 1.25rem;
        font-weight: 400;
        color: #f0f1f0; }
      .footer__up .advertisement .fa-brands {
        color: #f0f1f0;
        margin: 0 10px;
        font-size: 1.5rem;
        text-decoration: none; }
  .footer__down {
    text-align: center;
    height: 50px; }
    .footer__down .copy {
      color: #f0f1f0;
      font-family: "Roboto Slab", serif;
      font-size: 12px;
      font-weight: 400;
      font-style: italic; }

.main--favs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
  min-height: 70vh; }

.title, .header--shopcart .header__title--shopcart {
  margin-top: 60px; }

.list-favs {
  background-color: #e4e4e471;
  border-radius: 10px;
  margin-bottom: 250px; }

.item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 1200px;
  padding: 10px 25px; }
  .item__delete {
    border: none;
    outline: none;
    background-color: transparent;
    color: #080708;
    font-family: "Roboto Slab", serif;
    font-size: 1rem; }
    .item__delete:hover {
      cursor: pointer; }
  .item__box-image {
    height: 100%;
    width: 200px; }
    .item__box-image .box-image__image {
      border-radius: 10px;
      width: 100%; }
  .item__name {
    font-family: "Roboto Slab", serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
    color: #272727;
    width: 200px;
    overflow: hidden; }
  .item__price {
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    font-weight: 400;
    color: #DF2935;
    line-height: 3;
    letter-spacing: 1px; }
  .item__buttons {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #e4e4e471;
    color: #272727; }
    .item__buttons:hover {
      background-color: #3772FF;
      color: #f0f1f0; }

.alerts-add {
  background-color: #3772FF;
  font-family: "Roboto Slab", serif; }

body {
  background-color: #f0f1f0; }

.site-wrap {
  display: flex;
  flex-flow: column;
  padding: 0 50px; }

.wrap {
  height: auto; }

.slider {
  width: 1440px;
  height: 300px;
  border-radius: 15px;
  background-color: #272727;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: 55px;
  overflow: hidden; }
  .slider .slides {
    display: flex;
    height: 300px;
    width: 500%;
    width: 500%;
    height: 300px;
    border-radius: 0; }
    .slider .slides .slide {
      width: 20%;
      transition: 2s; }
      .slider .slides .slide__img {
        width: 1440px; }
    .slider .slides__input {
      display: none; }
  .slider .navigation-manual {
    position: absolute;
    width: 1440px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    gap: 20px; }
  .slider .manual-btn {
    border: 1px solid #f0f1f0;
    padding: 3px;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s; }
    .slider .manual-btn:hover {
      background-color: #f0f1f0; }
  .slider #r1:checked ~ .first {
    margin-left: 0; }
  .slider #r2:checked ~ .first {
    margin-left: -20%; }
  .slider #r3:checked ~ .first {
    margin-left: -40%; }
  .slider .navigation-auto {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1440px;
    margin-top: 279px;
    gap: 20px; }
    .slider .navigation-auto .auto {
      border: 1px solid #f0f1f0;
      padding: 3px;
      border-radius: 25px;
      transition: 1s; }
  .slider #r1:checked ~ .navigation-auto .auto-r1 {
    background-color: #f0f1f0; }
  .slider #r2:checked ~ .navigation-auto .auto-r2 {
    background-color: #f0f1f0; }
  .slider #r3:checked ~ .navigation-auto .auto-r3 {
    background-color: #f0f1f0; }

.squares-category {
  display: grid;
  justify-content: center;
  margin: 200px 0;
  grid-template-columns: repeat(5, 272.5px);
  grid-template-rows: repeat(2, 200px);
  grid-column-gap: 20px;
  grid-row-gap: 20px; }
  .squares-category__square {
    background-color: #272727;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
    .squares-category__square .square__title {
      z-index: 1;
      color: white;
      font-family: "Roboto Slab", serif;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.5px; }
  .squares-category #buzos {
    grid-column: 1/span 2; }
    .squares-category #buzos .square__img {
      top: -150px; }
  .squares-category #remeras {
    grid-column: 3/span 2; }
    .squares-category #remeras .square__img {
      width: 100%; }
  .squares-category #pantalones {
    grid-row: 2;
    grid-column: 1/span 4; }
    .squares-category #pantalones .square__img {
      width: 100%;
      top: 0px; }
  .squares-category #zapatillas {
    grid-row: 1/span 2;
    grid-column: 5; }
    .squares-category #zapatillas .square__img {
      height: 100%; }

.products-recommend {
  margin-top: 150px; }
  .products-recommend__title {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #080708;
    line-height: 2;
    text-align: center; }
  .products-recommend__description {
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    font-style: oblique;
    font-weight: 400;
    color: #272727;
    text-align: center; }
  .products-recommend__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 20px; }

.card {
  background-color: #f0f1f0;
  width: 250px;
  height: 380px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  transition: all .5s 0s ease-in; }
  .card:hover {
    transform: scale(1.05, 1.05);
    z-index: 1; }
  .card__box-img {
    width: 250px;
    height: 250px;
    width: 250px;
    height: 200px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0; }
    .card__box-img .box-img__image {
      position: absolute;
      top: -10px;
      width: 100%; }
  .card__box-text {
    padding: 0 15px;
    margin-top: 20px; }
    .card__box-text .box-text__title {
      font-family: "Roboto Slab", serif;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.4;
      color: #272727;
      height: 55px;
      overflow: hidden; }
    .card__box-text .box-text__price {
      font-family: "Roboto Slab", serif;
      font-size: 1rem;
      font-weight: 400;
      color: #DF2935;
      line-height: 3;
      letter-spacing: 1px; }
    .card__box-text .box-text__buttons {
      display: flex;
      flex-flow: row nowrap;
      gap: 5px; }
      .card__box-text .box-text__buttons .buttons__btn {
        width: 80%;
        height: 40px;
        border-radius: 10px;
        background-color: #e4e4e471;
        color: #272727; }
        .card__box-text .box-text__buttons .buttons__btn:hover {
          background-color: #3772FF;
          color: #f0f1f0; }
      .card__box-text .box-text__buttons .buttons__btn-fav {
        width: 20%;
        height: 40px;
        border-radius: 10px;
        background-color: #e4e4e471;
        color: #272727; }
        .card__box-text .box-text__buttons .buttons__btn-fav:hover {
          background-color: #DF2935;
          color: #f0f1f0; }

.render-product {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px; }
  .render-product__title {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #080708;
    line-height: 2.5; }
  .render-product__input label {
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    font-weight: 400;
    color: #080708;
    margin-right: 5px; }
  .render-product__input .select {
    border: none;
    outline: none;
    border-radius: 5px;
    width: 120px;
    height: 25px;
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    font-weight: 400;
    color: #080708; }
  .render-product__flex {
    width: 80vw;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px; }

/* ----------------------------------------------
 * Generated by Animista on 2023-4-1 10:2:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
