@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --abbey-50: #f6f6f6;
  --abbey-100: #e7e7e7;
  --abbey-200: #d1d1d1;
  --abbey-300: #b0b0b0;
  --abbey-400: #888888;
  --abbey-500: #6d6d6d;
  --abbey-600: #5d5d5d;
  --abbey-700: #4a4a4a;
  --abbey-800: #454545;
  --abbey-900: #3d3d3d;
  --abbey-950: #262626;
  --blue-50: #e8f2ff;
  --blue-100: #d5e7ff;
  --blue-200: #b3d1ff;
  --blue-300: #85b0ff;
  --blue-400: #5681ff;
  --blue-500: #2f53ff;
  --blue-600: #0c1fff;
  --blue-700: #0011fa;
  --blue-800: #0617cd;
  --blue-900: #101f9f;
  --blue-950: #0a115c;
  --antique-bronze-50: #f9ffe5;
  --antique-bronze-100: #efffba;
  --antique-bronze-200: #e2ff79;
  --antique-bronze-300: #dcff2d;
  --antique-bronze-400: #e4ff00;
  --antique-bronze-500: #fffe00;
  --antique-bronze-600: #e7c900;
  --antique-bronze-700: #b79000;
  --antique-bronze-800: #967000;
  --antique-bronze-900: #765404;
  --antique-bronze-950: #4b3000;

  /* fonts */
  --roboto-font: "Roboto", sans-serif;
  --caladea-font: "Caladea", serif;
  --bebas-font: "Bebas Neue", sans-serif;

  /* font sizes */
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;
  --font-size-4xl: 4rem;
  --font-size-5xl: 5rem;
  --font-size-6xl: 6rem;
}



.filter {
  background-image: url("../assets/Filter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
  border: 1px solid var(--abbey-100);
  padding: 0.75rem 1rem;
  & .header__logo {
    width: calc((100% / 3) - 2rem);
    text-align: left;
    font-family: var(--caladea-font);
    font-size: var(--font-size-xxxl);
    color: var(--abbey-950);
  }
  & .header__icon-user {
    width: calc((100% / 3) - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & svg {
      background-color: var(--abbey-100);
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      color: var(--abbey-400);
    }
  }
  & .header__icon-bar {
    width: calc((100% / 3) - 2rem);
    display: flex;
    justify-content: end;
    & svg {
      width: 2.5rem;
      height: 2.5rem;
      color: var(--abbey-400);
    }
  }
}

.section-welcome {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & .section-welcome__title {
    text-align: center;
    font-family: var(--caladea-font);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    text-wrap: pretty;
    line-height: 1.2;
    color: var(--abbey-950);
    & .highlight {
      font-family: var(--roboto-font);
      font-size: var(--font-size-4xl);
      font-weight: 900;
    }
  }
}

.scroll-down {
  position: fixed;
  bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  & p {
    font-family: var(--caladea-font);
    font-size: var(--font-size-sm);
    color: var(--abbey-200);
  }
  & svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--abbey-200);
  }
}

@media screen and (max-width: 767px){
  .loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--abbey-950);
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .loader-imgs {
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    & .logo {
      font-family: var(--caladea-font);
      font-size: var(--font-size-6xl);
      color: var(--abbey-200);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .loader__img-ctn {
      position: relative;
      flex: 1;
      height: 300px;
      width: 300px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--abbey-950);
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .loader-imgs {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    & .logo {
      font-family: var(--caladea-font);
      font-size: var(--font-size-6xl);
      color: var(--abbey-200);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .loader__img-ctn {
      position: relative;
      flex: 1;
      height: auto;
      width: auto;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
